<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=title %></title>
	<link href="/styles.css" rel="stylesheet" >  <!--오류2 href="styles.css" 이 아님. root 경로 설정 다시해줌-->
</head>
