<header :class="{ sticky: scrollPos > 50 }">
	<div class="container">
		<div class="nav-brand">
			<a href="/">
				<h1><i class="snes-jp-logo brand-logo"></i>scyllacore의 Blog</h1>
			</a>
			<p>Backend 개발일지</p>
		</div>

		<div class="category">
			<a href="/about">about</a>
			<a href="/blogs/create">create</a>

		</div>

		<div class="social-buttons">
			<p>Share on SNS</p>
			<div class="share">
				<a href="https://github.com/scyllacore/" target="_blank"><i class="nes-icon github"></i></a>
				<a href="https://www.instagram.com/ladderai/" target="_blank"><i
						class="nes-icon instagram"></i></a>
			</div>
		</div>
	</div>
</header>